#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND = -Wno-error
DEB_BUILD_OPTIONS=nocheck

override_dh_install:
	dh_install
	# Remove submodule conflicting files
	rm -rf debian/gamescope/usr/bin/di-edid-decode
	rm -rf debian/gamescope/usr/include
	rm -rf debian/gamescope/usr/lib/libopenvr_api.a
	rm -rf debian/gamescope/usr/lib/$(DEB_HOST_MULTIARCH)/libliftoff.a
	rm -rf debian/gamescope/usr/lib/$(DEB_HOST_MULTIARCH)/libwlroots.a
	rm -rf debian/gamescope/usr/lib/$(DEB_HOST_MULTIARCH)/libdisplay-info.a
	rm -rf debian/gamescope/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig/libliftoff.pc
	rm -rf debian/gamescope/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig/wlroots.pc
	rm -rf debian/gamescope/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig/display-info.pc

%:
	dh $@
